#Api
github "bustoutsolutions/siesta" ~> 1.0
github "Alamofire/Alamofire" ~> 4.0

#Parsing
github "johnsundell/unbox" ~> 2.5.0

#UI
github "jdg/MBProgressHUD" ~> 1.0.0

#Image Lazy Loading
github "Alamofire/AlamofireImage" ~> 3.1
